<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NVH - Quản Lý Danh Mục</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-4">

    <h3 class="mb-3 text-primary">📦 NVH - Quản Lý Danh Mục</h3>

    <a class="btn btn-success mb-3" th:href="@{/nvh-admin/categories/add}">

    + Thêm Danh Mục
    </a>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Tên Danh Mục</th>
            <th>Ghi Chú</th>
            <th>Icon</th>
            <th>Thao Tác</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="c : ${nvhCategories}">
            <td th:text="${c.nvhId}"></td>
            <td th:text="${c.nvhName}"></td>
            <td th:text="${c.nvhNotes}"></td>
            <td th:text="${c.nvhIcon}"></td>

            <td>
                <a class="btn btn-primary btn-sm"
                   th:href="@{'/nvh-admin/categories/edit/' + ${c.nvhId}}">
                    Sửa
                </a>

                <a class="btn btn-danger btn-sm"
                   th:href="@{'/nvh-admin/categories/delete/' + ${c.nvhId}}"
                   onclick="return confirm('Xóa danh mục này?')">
                    Xóa
                </a>


            </td>
        </tr>
        </tbody>

    </table>
    <a href="/nvh-admin-home" class="btn btn-secondary mb-3">⬅ Quay lại</a>

</div>

</body>
</html>
